<!-- checkout.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>

<body>
    <h1>Datos de Pago</h1>
    <form action="/api/payments/payment" method="post" id="payment-form">
        <div id="card-element">
            <!-- Elemento para la tarjeta de crédito -->
            {{!-- Datos de ejemplo --}}
            {{!-- Número de tarjeta: 4000 0003 2000 0021 --}}
            {{!-- CVV: 123 --}}
            {{!-- C.P.: 12345 --}}
        </div>
        <br><br>
        <button type="submit">Pagar</button>
        <input type="hidden" name="token" id="token">
    </form>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/checkout.js"></script>
</body>

</html>