<p style="color:green">{{message}}</p>

<h1>Cargá tus documentos</h1>
<form action="/api/users/{{uid}}/documents" method="post" enctype="multipart/form-data">
    <label for="identificacion">Identificación</label>
    <input type="file" name="identificacion"/>
    <br/><br/>
    <label for="domicilio">Domicilio</label>
    <input type="file" name="domicilio"/>
    <br/><br/>
    <label for="estadoDeCuenta">Estado de Cuenta</label>
    <input type="file" name="estadoDeCuenta"/>
    <br/><br/>
    <button>Cargar Documentos</button>
</form>