<h1>Login</h1>
<div>
    <p style="color: green;">{{message}}</p>
    <p style="color: red;">{{error}}</p>
</div>

<div>
    <form method="post" action="/api/sessions/login">
        <input type="email" name="email" placeholder="Tu Correo"/>
        <br/><br/>
        <input type="password" name="password" placeholder="Tu Contraseña"/>
        <br/><br/>
        <button>Iniciar sesión</button>
        <br/><br/>
        <a href="/forgot-password" target="_blank">Olvidé mi contraseña</a>
    </form>
</div>
<hr>
<div>
    <a href="/signup">Registrarse</a>
</div>
<hr>
<a href="/api/sessions/login-github">
    <button>
        Ingresar con Github
    </button>
</a>