<h1>¿Has olvidado tu contraseña?</h1>
<div>
    <p style="color: red;">{{message}}</p>
</div>
<div>
    <form method="post" action="/send-mail">
        <input type="email" name="email" placeholder="Email"/>
        <br/><br/>
        <p>Enviaremos un link para restablecer la contraseña a este email si coincide con el de una cuenta existente</p>
        <br/><br/>
        <button>Enviar</button>
    </form>
</div>